extends ./layout.pug
block head
block content
    .d-flex.flex-column.flex-column-fluid
        .content.fs-6.d-flex.flex-column-fluid
            .container
                .row.g-0.g-xl-5.xxl-8
                    .col-xl-6.mb-2
                        .card.card-custom.card-stretch
                            .bg-light-primary.border-0.p-5
                                .align-items-start.flex-column
                                    .m-0.fw-bolder.text-dark.fs-3 Thông tin học sinh
                            .card-body.py-3
                                .d-flex.justify-content-around.flex-column-fluid
                                    .symbol.symbol-65px.mb-2
                                        .symbol-label.bg-light-primary.p-3
                                            i.fad.fa-user-circle.text-primary.fs-3x
                                    table.table.table-borderless.align-middle
                                        thead
                                            tr
                                                th.p-0
                                                th.p-0
                                                th.p-0
                                        tbody
                                            tr
                                                td
                                                td.text-primary Họ tên: 
                                                td= student.name
                                            tr
                                                td
                                                td.text-primary Số báo danh: 
                                                td= student.student_id
                                            tr
                                                td
                                                td.text-primary Ngày sinh: 
                                                td= student.dob
                                            tr
                                                td
                                                td.text-primary Trường: 
                                                td= student.school
                    .col-xl-6.mb-2
                        .card.card-custom.card-stretch
                            .bg-light-primary.border-0.p-5
                                .card-title.align-items-start.flex-column
                                    .card-label.fw-bolder.text-dark.fs-3 Kết quả thi
                            .card-body.py-3
                                .d-flex.justify-content-around.flex-column-fluid
                                    .symbol.symbol-65px.mb-2
                                        .symbol-label.bg-light-primary.p-3
                                            .fs-3x.text-primary= student.mark
                                    table.table.table-borderless.align-middle
                                        thead
                                            tr
                                                th.p-0
                                                th.p-0
                                                th.p-0
                                        tbody
                                            tr
                                                td
                                                td.fw-bold.text-primary Mã đề:
                                                td= student.test_id
                                            tr
                                                td
                                                td.fw-bold.text-primary Ngày thi:
                                                td= student.getDate()
                                            tr
                                                td
                                                td.fw-bold.text-primary Kíp thi: 
                                                td= student.getTime()
                                            tr
                                                td
                                                td.fw-bold.text-primary Số câu đúng: 
                                                td= student.getTrueAnswers() + "/40"
                    .col-xl-6.mb-2
                        .card.card-custom.card-stretch
                            .bg-light-primary.border-0.p-5
                                .card-title.align-items-start.flex-column
                                    .card-label.fw-bolder.text-dark.fs-3 Kỹ năng theo chương
                            .card-body.py-3
                                canvas#radarchart(width="400" height="400")
                    .col-xl-6.mb-2
                        .card.card-custom.card-stretch
                            .bg-light-primary.border-0.p-5
                                .card-title.align-items-start.flex-column
                                    .card-label.fw-bolder.text-dark.fs-3 Kỹ năng theo dạng
                            .card-body.py-3
                                canvas#barchart(width="400" height="400")
                    .col.mb-2
                        .card.card-custom.card-stretch
                            .bg-light-primary.border-0.p-5
                                .card-title.align-items-start.flex-column
                                    .card-label.fw-bolder.text-dark.fs-3 Lời khuyên cho học sinh
                            .card-body
                                for _, i in Array(5)
                                    .d-flex.flex-wrap.mb-2
                                        div
                                            .badge.badge-light Câu #{i+1}
                                            | &nbsp;
                                        .progress.h-20px.w-100px.bg-light-primary
                                            .progress-bar.bg-primary(style="width: 50%;")
                                        | &nbsp;
                                        div
                                            .badge.badge-success Dao động cơ
                                            | &nbsp;
                                        div
                                            .badge.badge-info Đồ thị
                                            | &nbsp;
                                    .mb-2.px-2
                                        | Câu này lừa ngôn từ. Có thể em đã sai ngu.
                                    .separator.border-primary.my-2

    script(src="/assets/js/chart.js") 